    /*
    Flaticon icon font: Flaticon
    Creation date: 12/08/2020 01:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-whatsapp:before { content: "\f100"; }
.flaticon-usuario:before { content: "\f101"; }
.flaticon-email:before { content: "\f102"; }
.flaticon-directorio:before { content: "\f103"; }
.flaticon-telefono:before { content: "\f104"; }
.flaticon-empleos:before { content: "\f105"; }
.flaticon-estudios:before { content: "\f106"; }
.flaticon-herramientas:before { content: "\f107"; }
.flaticon-compartir:before { content: "\f108"; }
.flaticon-menu:before { content: "\f109"; }
    
    $font-Flaticon-whatsapp: "\f100";
    $font-Flaticon-usuario: "\f101";
    $font-Flaticon-email: "\f102";
    $font-Flaticon-directorio: "\f103";
    $font-Flaticon-telefono: "\f104";
    $font-Flaticon-empleos: "\f105";
    $font-Flaticon-estudios: "\f106";
    $font-Flaticon-herramientas: "\f107";
    $font-Flaticon-compartir: "\f108";
    $font-Flaticon-menu: "\f109";