	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/08/2020 03:05
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before{
  font-family: Flaticon;
  font-size: 26px;
  font-style: normal;

}
[class^="flaticon-"], [class*=" flaticon-"]{
  color: #fff;
}

.flaticon-telefono:before { content: "\f100"; }
.flaticon-whatsapp:before { content: "\f101"; }
.flaticon-email:before { content: "\f102"; }
.flaticon-trabajos:before { content: "\f103"; }
.flaticon-educacion:before { content: "\f104"; }
.flaticon-herramientas:before { content: "\f105"; }
.flaticon-usuario:before { content: "\f106"; }
.flaticon-menu:before { content: "\f107"; }


.flaticon-usuario::before {
  float: left;
}

.flaticon-usuario::after {
  display: block;
  content: "Rafael Torres";
  margin-left: 36px;
}